/* You can add global styles to this file, and also import other style files */
app-admin{
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 2rem;
}
app-markers{
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 2rem;
}
app-add-comp {
    position: absolute;
    z-index: 1;
    top: 0rem;
    left: 2rem;
}
.admin-holder {
    margin-top:4rem;
}
